/* General */
.fullPage {
  min-height: 80vh;
}
.full-height-element {
  min-height: 100%;
}
/* NAVBAR */
nav .nav-link {
  font-size: 1.2rem;
  transition: 0.7s;
}
nav .nav-link:hover {
  color: #282c34;
  text-decoration: underline;
  transition-timing-function: ease;
}

.main-heading {
  color: gray;
  font-size: 26px;
}

.nav-logout {
  border: none;
  background-color: transparent;
  color: transparent;
}

/* SLIDER */

.underline {
  height: 4px;
  width: 4rem;
  background-color: gray;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  text-align: left;
}
.sidebar-container {
  height: 100%;
}

.sidebar .nav-link {
  transition: 0.7s;
  font-size: 1.2rem;
}
.sidebar .nav-link:hover {
  font-size: 1.3rem;
  transition-timing-function: ease;
}

.sidebar_button {
  border: none;
  background-color: transparent;
}

.sidebar_button:hover {
  background-color: lightgray;
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  .sidebar_button {
    display: none;
  }
}

/* FOOTER */

.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: gray;
  text-decoration: underline;
}

/* TABLE */
.table-container {
  min-height: 100%;
}
.table-action-button-container {
  height: 100px !important;
}

.table-action-button {
  padding: 5px !important;
  width: 70px !important;
  opacity: 90% !important;
  margin-right: 5px;
}
.table-action-button-disabled {
  display: none;
}

/* Stats item card */
.stat_item_card {
  border-radius: 20px;
  min-width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
.stat_item_card:hover {
  background: transparent !important;
  color: #282c34 !important;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.stat_item_card-up {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stat_item_card-left,
.stat_item_card-right {
  font-size: 3rem;
}

/* General section height */
.section-page-height {
  min-height: 80vh;
}
.section-page-height-50 {
  min-height: 50vh;
}

/* Profile page */
.user-avatar {
  width: 200px;
  height: 200px;
}
.navbar-user-avatar {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.navbar-avatar:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
