/* NAVBAR */
nav .nav-link:hover {
  color: #282c34;
  text-decoration: underline;
  transition: 0.4s;
}

.main-heading {
  color: gray;
  font-size: 26px;
}

.nav-logout {
  border: none;
  background-color: transparent;
  color: transparent;
}

/* SLIDER */

.underline {
  height: 4px;
  width: 4rem;
  background-color: gray;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* SIDEBAR */

.sidebar {
  transition: 0.4s;
  height: 100%;
  text-align: left;
}
.sidebar-container {
  height: 100%;
}

.sidebar .nav-link {
  font-size: 1.25rem;
}

.sidebar .nav-link:active,
.nav-link:focus,
.nav-link:hover {
  font-size: 1.5rem;
}

.sidebar_button {
  border: none;
  background-color: transparent;
}

.sidebar_button:hover {
  background-color: lightgray;
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  .sidebar_button {
    display: none;
  }
}

/* FOOTER */

.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: gray;
  text-decoration: underline;
}
